.Chatmain
  .Chatmain__header
    .Chatmain__header__group-contents
      .Chatmain__header__group-contents__group-name 
        = @group.name
      .Chatmain__header__group-contents__members  
        Member :
        .member-name
          - @group.users.each do |user|
            = user.name 
    .Chatmain__header__editbox
      = link_to 'Edit',edit_group_path(current_user), class: "Chatmain__header__editbox__editbtn"   
  .Chatmain__box
    = render @messages
  .Chatmain__form
    = form_with model: [@group, @message], html: {class: "Chatmain__form__new-message"}, local: true do |f|
      .Chatmain__form__new-message__input-box
        = f.text_field :content, class: 'Chatmain__form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'Chatmain__form__new-message__input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Chatmain__form__new-message__input-box__image__file'
      = f.submit 'Send', class: 'Chatmain__form__new-message__submit-btn'